.featured-products-section {
    padding: 5rem 0;
}

.featured-products-section h2 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.featured-products-list {
    display: flex;
    justify-content: center !important;
}

.view-all-container {
    text-align: center;
    margin-top: 3rem;
}